body {
    background-color: white;
}

img {
    width: 10em;
    height: 10em;
}

main {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    margin 1em;
    padding: 0.5em;
    border-width: 1em;
    border-width: 1em;
}

article.hidden {
    display: none;
}

ul.navbar-filters {
    background-color: gainsboro;
    opacity: 0.7;
    padding: 10px 10px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
}


ul.navbar-filters button.control
{
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: aliceblue;
    background-color: gray;
    padding: .5em 2em;
    border: none;
    border-radius: 5em;
}

ul.navbar-filters button.control.active
{
    background-color: darkgray;
    color: black;
}



